body {
    font-family: Comic Sans MS, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #05050a;
    max-width: 800px;
    margin: 0 auto;
    background: #fff7de;
    text-align: center;
}

h1 {
    color: #05050a;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

img {
    width: 200px;
}